/node_modules
/public/hot
/public/storage
/public/fonts
/public/img
/public/css
/public/js
/public/mix-manifest.json
/storage/*.key
/storage/*.index
/vendor
_ide_helper.php
.phpstorm.meta.php
.env
.phpunit.result.cache
Homestead.json
Homestead.yaml
npm-debug.log
yarn-error.log
